Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.31
psycopg2-binary==2.9.9
gunicorn==22.0.0
dnspython==2.6.1
python-whois==0.9.4
requests==2.32.3
python-dotenv==1.0.1
tldextract==5.1.2
phonenumbers==8.13.42
redis==5.0.7